<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Survey Form</title>
  </head>
  <body>
    <h1>Submitted Information:</h1>
    <h2>Name:</h2>   <%= results.name%> <br>
    <h2>Dojo Location:</h2>  <%= results.location%> <br>
    <h2>Favourite Language: </h2> <%= results.language%> <br>
    <h2>Comment:</h2>
    <br>
     <%= results.comment%><br>
    <a href="/"><button>Go Back</button></a>
  </body>
</html>
